.grid-container {
    display: inline-grid;
    border: 5px outset grey;
/*     grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);  */
    flex-wrap: nowrap;
}

.grid-item {
    border: 1px solid black;
    padding: 4px;
}